@use '../../scss/abstracts/variables' as var;


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var.$color-yellow;
  font-family: var.$font-name;


  &__block {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 80%;
  }

  &__logo {
    img {
      width: auto;
      height: auto;
      margin: 2px 20px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 70%;

    &:focus-visible {
      outline: none;
      outline-color: transparent;
      box-shadow: none;
    }

    form {
      display: flex;
      width: 100%;
      position: relative;

      :focus-visible{
        border: 1px solid var.$color-gray;
      }

      input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
      }

      button {
        position: absolute;
        padding: 9px;
        background-color: var.$color-gray-light;
        border: none;
        cursor: pointer;
        font-size: 18px;
        right: 1px;
        top: 1px;
      }
    }
  }

  /* Responsive */
  @media (max-width: 768px) {

    &__block {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &__search {
      width: 100%;
      margin-top: 10px;

      form {
        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  }
}