@use '../../scss/abstracts/variables' as var;

.product-detail {

  background-color: var.$color-white;
  font-family: var.$font-name;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem auto;
    max-width: 800px;
    padding: 2rem;
  }

  &--col{
    flex-direction: column;
  }

  &__image-container {
    flex: 2;
    max-width: 300px;
    max-height: 500px;
    display: flex;
  }

  &__image {
    width: 100%;
    border-radius: 8px;
  }

  &__info {
    flex: 2;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }

  &__title {
    font-size: 1.6rem;
    font-family: var.$font-medium-name;
    color: var.$color-black-light-2;
    margin-top: 0;
    margin-bottom:0.5rem;
  }

  &__price {
    font-size: 1.8rem;
    color: var.$color-black-light;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__condition,
  &__description {
    font-size: 1rem;
    color: var.$color-black-light-2;
  }
}